.App {
  text-align: center;
}

.container {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgb(182, 91, 91);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  position: relative;
  top: 40%;
}
